<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
  </head>
  <body>
    <h1>Content!</h1>
    <form action="/userform">
        <input type="submit" value="THIS BUTTON GOES TO THE USERFORM PAGE"/>
    </form>
    <br><br>
    <form action="/database" method="POST">
        <input type="submit" value="THIS BUTTON GOES TO THE DATABASE PAGE"/>
    </form>
  </body>
</html>