<!doctype html>

<html lang="en">
<head>
  <style>
    body {
		background-color: #EEFFEE;
		margin-left: 20px;
	}
	h1 {
		font: 26px Arial;
	}
	label {
		font: 20px Arial;
	}
	input {
		font: 16px Arial;
		
	}
  </style>
  <h1>HEADING</h1>
  <meta charset="utf-8">

  <title>COVID Vaccine Distribution</title>
  <meta name="description" content="COVID Vaccine Distribution">
  <meta name="author" content="CIS422_Group2">
  
  <form action="/database" method="POST">
	<label for="fname">First Name:</label>
	<label for="lname">Last Name:</label><br>
	<input type="text" id="fname" name="fname" value="">
	<input type="text" id="lname" name="lname" value=""><br><br>

	<label for="lname">City:</label><br>
	<input type="text" id="city" name="city" value=""><br><br>

	<label for="lname">State:</label><br>
	<input type="text" id="state" name="state" value=""><br><br>

	<label for="lname">Address:</label><br>
	<input type="text" id="address" name="address" style="width:400px" value=""><br><br>

	<label for="lname">Occupation:</label><br>
	<input type="text" id="job" name="job" value=""><br><br>

	<input type="submit" value="Submit">
  </form>   
	
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>